font-family: 'Kaushan Script', sans-serif; /*Logo Text*/
h1 { font-family: 'Poiret One', sans-serif;
font-weight: 100;
} /*H1-6 Text*/
font-family: 'Roboto', sans-serif; /*Content Text*/
font-family: 'Abel', sans-serif; /*Button Text*/


.darkgray { color: #444444; }
.medgray { color: #A3A3A3; }
.litegray { color: #F6F6F6; }
.liteteal { color: #EDF2F4; }
.medteal { color: #C9D9DE; }
.darkteal { color: #96B2BD; }

form {
  outline: 0;
}

#form1 {
  display: flex;
  justify-content: center;
  height: auto;
}

.inputText {
  background-color: transparent !important;
  border: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-bottom: 1px solid #A3A3A3 !important;
  margin-top: 60px;
  font-size: 60px;
  font-family: 'Abel', sans-serif;
  text-align: center;
}

input:focus, button:focus {outline: none;}

#submitcreate {
  position: absolute;
  bottom: 90px;
  right: 150px;
}

#menunext {
  background-color: transparent !important;
  border: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.uploader {
  padding-top: 30px;
}

#map {
  height: 100%;
}
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
#target {
  width: 345px;
}
